@font-face {
  font-family: "Cerebri-Sans-Regular";
  src: url("../../Cerebri.Sans.Pro/CerebriSansPro-Regular.otf")
    format("opentype");
}
@font-face {
  font-family: "Cerebri-Sans-Medium";
  src: url("../../Cerebri.Sans.Pro/CerebriSansPro-Medium.otf")
    format("opentype");
}
@font-face {
  font-family: "Cerebri-Sans-Bold";
  src: url("../../Cerebri.Sans.Pro/CerebriSansPro-Bold.otf") format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@font-face {
  font-family: "Cerebri-Sans-ExtraBold";
  src: url("../../Cerebri.Sans.Pro/CerebriSansPro-ExtraBold.otf")
    format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 15px;
  color: #000;
  background: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Upper Header */

.wrapper {
  display: grid;
}

@media (max-width: 600px) {
  .header,
  .slider img,
  .circles,
  .collections,
  .discount,
  .countdown,
  .bigCollection,
  .subscription,
  .footerSlider,
  .payment,
  .upperFooter,
  .footer {
    width: 100%;
  }
}
.upper-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 1rem;
  align-items: center;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
}
.main-menu,
.follow-menu {
  list-style: none;
  display: flex;
}
.main-menu li a,
.follow-menu li a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
}
.main-menu li a {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding-right: 1.5rem;
  margin-right: 1.5rem;
}
.main-menu li:nth-child(4) a {
  border-right: none;
}
.follow-menu {
  display: flex;
  align-items: center;
}
.follow-menu li a {
  padding-right: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.follow-menu li a i {
  font-size: 12px;
}

.follow-menu li:first-child i {
  font-size: 1.1rem;
  margin-right: 0.5rem;
}
.follow-menu li:nth-child(2) i {
  margin-left: 1.5rem;
}
.follow-menu li:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
@media (min-width: 1440px) {
  .upper-header {
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
  }
  .follow-menu li:last-child a {
    padding-right: 0 !important;
    margin-right: 0 !important;
  }
  .main-menu {
    margin-right: 30rem !important;
  }
}
@media (max-width: 990px) {
  .upper-header {
    display: none;
  }
}
@media (max-width: 600px) {
}
/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 0;
}
.header .menu-icon {
  display: none;
}
.header .logo {
  width: 10rem;
  margin-right: 5rem;
  margin-left: 1rem;
}
.searchBar {
  width: 58%;
  height: 40px;
  padding: 10px 15px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}
.searchBar::placeholder {
  color: #a5a5a5;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
}
.btn {
  background-color: #333;
  height: 40px;
  width: 4%;
  color: #fff;
  border: none;
  margin-right: 2.7rem;
}
.loginDiv {
  display: flex;
  position: relative;
  align-items: center;
}
.loginDiv h5 {
  font-family: "Cerebri-Sans-Medium";
  width: 6rem;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-right: 2.2rem;
  font-weight: 400;
}
.loginDiv h5 i {
  font-size: 1.4rem;
  margin-right: 0.3rem;
  padding-bottom: 0.1rem;
}
.loginDiv i {
  margin-right: 1.4rem;
  font-size: 1.5rem;
}
.bagIcon {
  margin-right: 1.4rem;
  width: 1.5rem;
}
.loginDiv h5:hover,
.loginDiv i:hover {
  color: #80766a;
  cursor: pointer;
}
.badge {
  position: absolute;
  background-color: #695d4f;
  color: #fff;
  font-size: 0.6rem;
  padding: 0.1rem 0.6rem;
  border-radius: 5rem;
}
.badge-heart {
  top: -0.4rem;
  right: 3.1rem;
}
.badge-bag {
  top: -0.4rem;
  right: 0.6rem;
}

@media (min-width: 1440px) {
  .searchBar {
    width: 50rem;
  }
}
@media (max-width: 990px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
  }
  .header .searchBar,
  .header .btn,
  .loginDiv h5 {
    display: none;
  }

  .header .logo {
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 1.7rem;
  }
  .header .menu-icon {
    display: inline-block;
    margin-left: 2rem;
  }
  .header .heartIcon,
  .badge-heart {
    display: none;
  }
}
@media (max-width: 600px) {
  .header .heartIcon,
  .badge-heart {
    display: none;
  }

  .header {
    padding: 1.7rem 0rem;
  }
}
/* Dark Links */

.dark-links {
  display: grid;
  background-color: #2f2828;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: "Cerebri-Sans-Medium";
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

.dark-links-mobile {
  display: none;
}

.dark-links .dark-menu {
  display: flex;
  list-style: none;
  padding: 20px 0;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.dark-links .dark-menu .close-btn {
  display: none;
}
.dark-links .dark-menu li a {
  display: flex;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-right: 1.5rem;
}
.dark-links .dark-menu li a:last-child {
  margin-right: 0;
}

.dark-links .dark-menu li a:hover {
  color: #de510b;
}
@media (min-width: 1440px) {
  .dark-links .dark-menu {
    max-width: 150%;
    margin: 0 auto;
    max-width: 1440px;
    margin: 0 auto;
  }
  .dark-links .dark-menu li a {
    margin-right: 2.8rem !important;
  }
  #lastMenuItem {
    margin-right: 0 !important;
  }
}

/* Banner Start */

.banner {
  background-image: url("../livingRoomImg/banner.jpg");
  background-attachment: fixed;
  background-position: top center;
  padding-top: 55px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner__title,
.banner__subTitle {
  color: #fff;
}
.banner__title {
  font-family: "Cerebri-Sans-Medium";
  font-weight: 500;
  font-size: 45px;
  line-height: 54px;
  padding-bottom: 0.5rem;
}
.banner__subTitle {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
@media (max-width: 990px) {
  .banner__title {
    font-size: 25px;
    padding-bottom: 0rem;
  }
}
/* Banner Finish */
/* Payment */
.paymentSection {
  background-color: #f8f8f8;
  margin-top: 4.5rem;
  border: 1px solid rgba(204, 204, 204, 0.5);
}
.payment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.2rem;
  background-color: #f8f8f8;
}
.payment .creditCard,
.payment .security {
  display: flex;
  align-items: center;
}
.payment .creditCard i,
.payment .security i {
  font-size: 3.1rem;
  color: #695d4f;
  padding: 1rem 0.5rem;
  padding-top: 0rem;
}
.payment .security i {
  padding-right: 2rem;
}
.payment .security .lockIcon {
  padding-right: 1rem;
}
.payment .creditContent {
  padding: 1rem 0.5rem;
}
.payment .creditCard h3,
.payment .security h3 {
  font-family: "Cerebri-Sans-Medium";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0.5rem;
}
.payment .creditCard p,
.payment .security p {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #a3a3a3;
}
@media (min-width: 1440px) {
  .payment {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 600px) {
  .payment {
    grid-template-columns: 1fr !important;
  }
  .payment .creditCard,
  .payment .security {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* UpperFooter */
.upperFooterSection {
  background-color: #f8f8f8;
}
.upperFooter .categories ul:first-child,
.upperFooter .communication ul:first-child,
.upperFooter .policy ul:first-child {
  position: relative;
}
.upperFooter .categories .borderLeft,
.upperFooter .communication .borderLeft,
.upperFooter .policy .borderLeft {
  width: 18%;
  display: inline-block;
  position: absolute;
  top: 1.2rem;
  left: 0;
  border-bottom: 1px solid #000;
}
.upperFooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f8f8f8;
}
.upperFooter i {
  font-size: 0.8rem;
  background-color: #f1f1f1;
  padding: 0.8rem;
  border-radius: 50%;
  text-align: start;
  margin-bottom: 1.5rem;
}
.upperFooter i:hover {
  background-color: #695d4f;
  color: #fff;
}
.upperFooter .socialLinks,
.upperFooter .categories,
.upperFooter .communication,
.upperFooter .policy {
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-bottom: none;
}
.upperFooter .socialLinks,
.upperFooter .categories,
.upperFooter .communication,
.upperFooter .policy {
  border-right: none;
  border-top: none;
}
.upperFooter .categories,
.upperFooter .communication,
.upperFooter .policy {
  padding: 2.5rem 2rem;
}
.upperFooter .categories li,
.upperFooter .communication li,
.upperFooter .policy li {
  padding-bottom: 0.3rem;
}
.upperFooter .socialLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 1rem;
}

.upperFooter .socialLinks p {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #a3a3a3;
  margin-bottom: 1.5rem;
}
.upperFooter .socialLinks ul {
  display: flex;
  margin-top: 1rem;
}
.upperFooter .socialLinks ul li {
  margin-right: 0.8rem;
}
.upperFooter .socialLinks ul li:last-child {
  margin-right: 0;
}
.upperFooter ul {
  list-style: none;
}
.upperFooter ul h4 {
  font-family: "Cerebri-Sans-Bold";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  /*border-bottom: 1px solid #000;*/
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}
.upperFooter ul a {
  text-decoration: none;
  color: #695d4f;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}
.upperFooter img {
  width: 9.4rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1440px) {
  .upperFooter {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .upperFooter .socialLinks {
    border-left: none;
  }
}
@media (max-width: 990px) {
  .upperFooter {
    grid-template-columns: repeat(2, 1fr);
  }
  .upperFooter .socialLinks,
  .upperFooter .categories {
    border-bottom: none;
  }

  .upperFooter .communication,
  .upperFooter .policy {
    border-top: none;
  }
}
@media (max-width: 600px) {
  .upperFooter {
    grid-template-columns: 1fr !important;
  }
}
/* Footer */
.footerSection {
  background-color: #f8f8f8;
  border: 1px solid rgba(204, 204, 204, 0.5);
}
.footer {
  background-color: #f8f8f8;
  display: flex;
  padding: 1.6rem 0.9rem;
  justify-content: space-between;
}
.footer img {
  width: 15%;
  height: auto;
}
.footer p {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #a3a3a3;
}
@media (min-width: 1440px) {
  .footer {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1440px) {
  .footer {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 990px) {
  .footer {
    padding: 1.6rem 0.9rem;
    padding-bottom: 5rem;
  }
  .footer img {
    width: 15%;
    height: 70%;
  }
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer img {
    width: 30%;
    height: 70%;
    padding-bottom: 1rem;
  }
  .footer p {
    font-size: 1rem;
  }
}
/* FOOTER END */

/* Menu */

#sidebarMenu,
#openSidebarMenu {
  display: none;
}
.bottomMenu {
  display: none;
}

/* Menu */

/* SideBar Menu */

@media (max-width: 990px) {
  .dark-links {
    display: none;
  }
  #sidebarMenu {
    display: flex;
    z-index: 999;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-300px);
    transition: transform 0.5s ease-in-out;
  }
  .sidebarMenuInner {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
  }
  .close-btn {
    display: flex;
    background-color: #695d4f;
    padding: 1rem 1.7rem;
    margin-bottom: 2rem;
  }
  .close-btn i {
    font-size: 1.3rem;
    padding-left: 0.8rem;
  }

  .close-btn .closeDiv {
    display: flex;
    align-items: center;
    font-family: "Cerebri-Sans-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    border: none;
    color: #fff;
    padding-left: 10rem;
  }
  .sidebarMenuInner li {
    padding-left: 1.5rem;
  }

  .sidebarMenuInner li a {
    display: flex;
    color: #000;
    width: 14rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-decoration: none;
    font-family: "Cerebri-Sans-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .sidebarMenuInner li:not(:last-child) {
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
  }

  input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;
    height: 100%;
    width: 100%;
    height: 22px;
    width: 22px;
  }

  /* SideBar Menu */

  /* Bottom Menu Start */

  .bottomMenu {
    background-color: #fff;
    display: flex;
    z-index: 98;
    flex-direction: row;
    width: 100%;
    padding: 0.8rem;
    border: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0px 1px 12px 2px rgb(144 144 144 / 30%);
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
  }
  .bottomMenu ul {
    display: flex;
    list-style: none;
    width: 100%;
  }
  .bottomMenu li {
    margin: 0 auto;
    cursor: pointer;
  }
  .bottomMenu li i {
    font-size: 20px;
  }

  .bottomMenu li i:hover,
  #bottomMenu__filterBtn:hover {
    color: #444;
  }
  #bottomMenu__filterBtn {
    font-family: "Cerebri-Sans-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .bottomMenuImg {
    width: 25px;
    height: 25px;
    display: inline-block;
  }
  #searchImg {
    width: 20px;
    height: 20px;
  }
  #personImg {
    width: 20px;
    height: 20px;
  }

  /* Bottom Menu Finish */
}
/* mobile = max(765px) */
@media (max-height: 600px) {
  #sidebarMenu {
    display: none;
  }
}
@media (max-width: 600px) {
  #sidebarMenu {
    display: block;
  }
}
