@font-face {
  font-family: "Cerebri-Sans-Regular";
  src: url("./Cerebri.Sans.Pro/CerebriSansPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Cerebri-Sans-Medium";
  src: url("./Cerebri.Sans.Pro/CerebriSansPro-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Cerebri-Sans-Bold";
  src: url("./Cerebri.Sans.Pro/CerebriSansPro-Bold.otf") format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@font-face {
  font-family: "Cerebri-Sans-ExtraBold";
  src: url("./Cerebri.Sans.Pro/CerebriSansPro-ExtraBold.otf") format("opentype");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 15px;
  color: #000;
  background: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Upper Header */

.wrapper {
  display: grid;
}
.upper-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 1rem;
  align-items: center;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
}
.main-menu,
.follow-menu {
  list-style: none;
  display: flex;
}
.main-menu li a,
.follow-menu li a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
}
.main-menu li a {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding-right: 1.5rem;
  margin-right: 1.5rem;
}
.main-menu li:nth-child(4) a {
  border-right: none;
}
.follow-menu {
  display: flex;
  align-items: center;
}
.follow-menu li a {
  padding-right: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.follow-menu li a i {
  font-size: 12px;
}

.follow-menu li:first-child i {
  font-size: 1.1rem;
  margin-right: 0.5rem;
}
.follow-menu li:nth-child(2) i {
  margin-left: 1.5rem;
}
.follow-menu li:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
/* Header */
.header {
  display: flex;
  align-items: center;
  padding: 13px 0;
}
.header .menu-icon {
  display: none;
}
.header .logo {
  width: 10rem;
  margin-right: 5rem;
  margin-left: 1rem;
}
.searchBar {
  width: 58%;
  height: 40px;
  padding: 10px 15px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}
.searchBar::placeholder {
  color: #a5a5a5;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
}
.btn {
  background-color: #333;
  height: 40px;
  width: 4%;
  color: #fff;
  border: none;
  margin-right: 2.7rem;
}
.loginDiv {
  display: flex;
  align-items: center;
}
.loginDiv h5 {
  font-family: "Cerebri-Sans-Medium";
  width: 6rem;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-right: 2.2rem;
  font-weight: 400;
}
.loginDiv h5 i {
  font-size: 1.4rem;
  margin-right: 0.3rem;
  padding-bottom: 0.1rem;
}
.loginDiv i {
  margin-right: 1.4rem;
  font-size: 1.25rem;
}
/* Dark Links */

.dark-links {
  display: grid;
  background-color: #2f2828;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: "Cerebri-Sans-Medium";
}
.dark-links-mobile {
  display: none;
}

.dark-links .dark-menu {
  display: flex;
  list-style: none;
  padding: 20px 0;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.dark-links .dark-menu .close-btn {
  display: none;
}
.dark-links .dark-menu li a {
  display: flex;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-right: 1.5rem;
}
/* Slider */
.slider {
  width: 100%;
  height: 100%;
}
.slider img {
  width: 100%;
  height: 100%;
  transform: scale(1.3) translateY(11.5%);
}

/* Circles */

.circles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 11.8%;
  background-color: #f8f8f8;
  padding: 8rem 2.5rem;
  grid-gap: 4.5rem;
}
.circle img {
  max-width: 100%;
  padding: 1rem;
  height: auto;
  background-color: #fff;
  border-radius: 50%;
}
.card {
  text-align: center;
}
.card h3 {
  padding-top: 1rem;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 600;
  font-style: normal;
  line-height: 31px;
  font-size: 20px;
}

/* Collections */
.collections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 1rem;
  grid-gap: 2rem;
}
.collections img {
  max-width: 100%;
  height: auto;
  background-color: #fff;
}
.collections__title {
  padding-top: 6rem;
  padding-bottom: 1rem;
  font-family: "Cerebri-Sans-Medium";
  font-weight: 400;
  font-style: normal;
  line-height: 29px;
  font-size: 25px;
  text-align: center;
}
.collections h3 {
  padding-top: 1rem;
  font-family: "Cerebri-Sans-Medium";
  font-weight: 400;
  font-style: normal;
  line-height: 26px;
  font-size: 22px;
  text-align: center;
}

/* Discount */

.discount {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 1rem;
  grid-gap: 1.8rem;
  margin-top: 5.8rem;
}

.discount img {
  width: 100%;
  height: 100%;
}
.discount .leftDiscount,
.discount .rightDiscount {
  position: relative;
}
.discount .content {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #fff;
  /*padding: 3rem 9.8rem;*/
  padding: 13% 15%;
  color: #fff;
}
.discount .content p {
  text-transform: uppercase;
  text-align: center;
  font-family: "Cerebri-Sans-Bold";
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  font-size: 14px;
}
.discount .content h2 {
  text-align: center;
  font-family: "Cerebri-Sans-Medium";
  font-weight: 400;
  font-style: normal;
  line-height: 60px;
  font-size: 50px;
}
.discount .content .discountSpan {
  padding-left: 1rem;
}
.discount .content a {
  text-decoration: none;
  color: #fff;
  border: 1px solid transparent;
  display: inline-block;
  margin: 0 auto;
  padding: 0rem 1.6rem;
  border-radius: 100px;
  background-color: #e0510b;
  font-family: "Cerebri-Sans-Medium";
  font-weight: 400;
  font-style: normal;
  line-height: 38px;
  font-size: 16px;
}

/* Countdown */

.countdown {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 2px solid #695d4f;
  padding: 0px 35px 40px;
  border-radius: 8px;
  margin: 0 1rem;
  grid-gap: 1rem;
  margin-top: 7rem;
  position: relative;
}
.seeMore_btn {
  font-family: "Cerebri-Sans-Bold";
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  font-size: 14px;
  /* border-bottom: solid 2px black; */
  text-decoration: underline;
  text-underline-position: under;
  text-align: right;
  position: relative;
  top: -1rem;
  right: 1rem;
}
.countdown .countdownTimer {
  position: absolute;
  top: -3.2rem;
  left: 5rem;
  padding: 2rem;
  background-color: #fff;
  align-items: center;
  display: flex;
}
.countdown .countdownTimer h2 {
  font-family: "Cerebri-Sans-ExtraBold";
  font-weight: 400;
  font-style: normal;
  line-height: 29px;
  font-size: 24px;
  margin-right: 2rem;
}
.countdownTimer_btn {
  color: #fff;
  background-color: #695d4f;
  padding: 0rem 1.5rem;
  text-decoration: none;
  border-radius: 30px;
  font-family: "Cerebri-Sans-Bold";
  font-weight: 500;
  font-style: normal;
  line-height: 45px;
  font-size: 18px;
}
.countdown img {
  width: 95%;
  padding-top: 5rem;
}
.countdown .countdownCard,
.bigCollection .countdownCard,
.bestSellers .row1 .countdownCard {
  justify-content: center;
  align-items: center;
  position: relative;
}
.countdown .countdownCard h3,
.bigCollection .countdownCard h3,
.bestSellers .row1 .countdownCard h3 {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  font-size: 16px;
  padding-top: 0.8rem;
}
.countdown .countdownCard .previousPrice,
.countdown .countdownCard .discountedPrice,
.bigCollection .countdownCard .previousPrice,
.bigCollection .countdownCard .discountedPrice,
.bestSellers .countdownCard .previousPrice,
.bestSellers .countdownCard .discountedPrice {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.countdown .countdownCard .previousPrice,
.bigCollection .countdownCard .previousPrice,
.bestSellers .countdownCard .previousPrice {
  font-size: 13px;
  line-height: 13px;
  color: #a3a3a3;
  text-decoration: line-through;
}
.countdown .countdownCard .discountedPrice,
.bigCollection .countdownCard .discountedPrice,
.bestSellers .countdownCard .discountedPrice {
  color: #e0510b;
  font-size: 17px;
  line-height: 17px;
}
.countdown .orange_btn-2,
.bigCollection .orange_btn-2,
.bestSellers .orange_btn-2 {
  text-decoration: none;
  color: #fff;
  border: 1px solid transparent;
  display: inline-block;
  width: 96%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  background-color: #e0510b;
  font-family: "Cerebri-Sans-Bold";
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  font-size: 12px;
  padding: 7px 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}
.countdown .countdownCard .fav-icon,
.bigCollection .countdownCard .fav-icon,
.bestSellers .countdownCard .fav-icon {
  position: absolute;
  top: 5.6rem;
  right: 1.6rem;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 50%;
}
.bigCollection .countdownCard .fav-icon {
  top: 0.5rem;
  right: 0.5rem;
}
.bestSellers .countdownCard .fav-icon {
  top: 0.5rem;
  right: 0.5rem;
}

/* bigCollection */
.bigCollection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1.9rem;
  margin: 0 0.6rem;
  margin-bottom: -5rem;
}
.bigCollection__title {
  font-family: "Cerebri-Sans-Bold";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 20px;
  margin-top: 6.8rem;
  margin-left: 0.6rem;
}
.bigCollection img {
  width: 100%;
}

/* Subscription */

.subscription {
  margin-top: 10rem;
  display: flex;
  background-color: #695d4f;
  padding: 2rem;
  align-items: center;
  justify-content: center;
  margin: 10rem 0 auto;
  flex-wrap: nowrap;
}
.subscription i {
  font-size: 5rem;
  color: #fff;
  margin-right: 1.5rem;
  margin-left: 1.2rem;
}
.subscription h4 {
  text-transform: uppercase;
  color: #fff;
  font-family: "Cerebri-Sans-Bold";
  font-weight: 400;
  font-style: normal;
  line-height: 22px;
  font-size: 18px;
}
.subscription .rightContent {
  display: flex;
  align-items: center;
  border-right: 1px solid rgba(204, 204, 204, 0.5);
  padding-right: 4.5rem;
  height: 8rem;
}
.subscription p {
  width: 35%;
  color: #fff;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 16px;
  padding-left: 3rem;
  padding-right: 6.5rem;
}
.subscription .subscription__input {
  width: 50%;
  line-height: 55px;
  color: #a3a3a3;
  border: none;
}
.subscription .subscription__input::placeholder {
  padding-left: 1.2rem;
  color: #a3a3b5;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  line-height: 55px;
  font-size: 14px;
}
.subscription .subscription__btn {
  width: 13.5%;
  font-size: 12px;
  line-height: 55px;
  letter-spacing: 1.6px;
  color: #fff;
  cursor: pointer;
  font-family: "Cerebri-Sans-Bold";
  font-weight: 500;
  font-style: normal;
  line-height: 55px;
  font-size: 12px;
  background-color: rgb(47, 40, 40);
  border: none;
}
.subscription .btn:hover {
  background-color: rgb(59, 59, 59);
}

/* bestSellers */
.bestSellers {
  margin-bottom: 4rem;
}

.row1,
.row2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 1.9rem;
  margin: 0 0.6rem;
  margin-bottom: -5rem;
}
.row1 {
  margin-bottom: 2rem;
}
.row1 img,
.row2 img {
  width: 100%;
}
.bestSellers__title {
  font-family: "Cerebri-Sans-Bold";
  font-weight: 400;
  font-style: normal;
  line-height: 24px;
  font-size: 20px;
  margin-top: 6.8rem;
  margin-left: 0.6rem;
}

/* Instagram */

.instagram {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.instagram i {
  font-size: 3.8rem;
  margin-bottom: 1.2rem;
}
.instagram h2 {
  font-family: "Cerebri-Sans-Medium";
  font-weight: 400;
  font-style: normal;
  font-size: 32px;
  line-height: 38px;
  color: #000;
  margin-bottom: 0.3rem;
}
.instagram p {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 29px;
  color: #444;
}
/* FooterSlider */

.footerSlider {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 3rem;
}

.footerSlider img {
  width: 100%;
}
.footerSlider .slideContent {
  position: relative;
}
.footerSlider .slideContent .fav-icon {
  font-size: 1.5rem;
  opacity: 0.7;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: #fff;
  transform: rotate(270deg);
}
/* Payment */

.payment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 4.5rem;
  padding: 0.2rem;
  background-color: #f8f8f8;
  border: 1px solid #ccc;
}
.payment .creditCard,
.payment .security {
  display: flex;
  align-items: center;
}
.payment .creditCard i,
.payment .security i {
  font-size: 3.1rem;
  color: #695d4f;
  padding: 1rem 0.5rem;
  padding-top: 0rem;
}
.payment .security i {
  padding-right: 2rem;
}
.payment .creditContent {
  padding: 1rem 0.5rem;
}
.payment .creditCard h3,
.payment .security h3 {
  font-family: "Cerebri-Sans-Medium";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0.5rem;
}
.payment .creditCard p,
.payment .security p {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #a3a3a3;
}
/* UpperFooter */

.upperFooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f8f8f8;
  padding-top: 1rem;
}
.upperFooter i {
  font-size: 0.8rem;
  background-color: #f1f1f1;
  padding: 0.8rem;
  border-radius: 50%;
  text-align: start;
  margin-bottom: 1.5rem;
}
.upperFooter .socialLinks,
.upperFooter .categories,
.upperFooter .communication,
.upperFooter .policy {
  border: 1px solid rgba(204, 204, 204, 0.5);
}
.upperFooter .socialLinks,
.upperFooter .categories,
.upperFooter .communication {
  border-right: none;
  border-top: none;
}
.upperFooter .categories,
.upperFooter .communication,
.upperFooter .policy {
  padding: 2.5rem 2rem;
}
.upperFooter .categories li,
.upperFooter .communication li,
.upperFooter .policy li {
  padding-bottom: 0.3rem;
}
.upperFooter .socialLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 1rem;
}

.upperFooter .socialLinks p {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #a3a3a3;
  margin-bottom: 1.5rem;
}
.upperFooter .socialLinks ul {
  display: flex;
  margin-top: 1rem;
}
.upperFooter .socialLinks ul li {
  margin-right: 0.8rem;
}
.upperFooter .socialLinks ul li:last-child {
  margin-right: 0;
}
.upperFooter ul {
  list-style: none;
}
.upperFooter ul h4 {
  font-family: "Cerebri-Sans-Bold";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}
.upperFooter ul a {
  text-decoration: none;
  color: #695d4f;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}
.upperFooter img {
  width: 9.4rem;
  margin-bottom: 1.5rem;
}
/* Footer */

.footer {
  display: flex;
  padding: 1.6rem 0.9rem;
  justify-content: space-between;
}
.footer img {
  width: 15%;
  height: auto;
}
.footer p {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #a3a3a3;
}
#sidebarMenu,
#openSidebarMenu {
  display: none;
}
.bottomMenu {
  display: none;
}
/* Media Queries */

@media (max-width: 1170px) {
  .circles {
    padding: 8rem 4rem;
    grid-gap: 4.5rem;
  }
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
  .bigCollection {
    grid-template-columns: repeat(2, 1fr);
  }
  .bigCollection .countdownCard:last-child {
    display: none;
  }
  .discount .content {
    padding: 13% 10%;
  }
  .discount .content a {
    margin-top: 0.5rem;
  }
  .countdown {
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
  }
  .bigCollection .orange_btn-2,
  .bestSellers .orange_btn-2 {
    width: 100%;
  }
  .subscription {
    padding: 1rem;
    margin: 10rem 0 auto;
    flex-wrap: nowrap;
    padding-left: 0.2rem;
  }
  .subscription i {
    margin-right: 1.5rem;
    margin-left: 3.2rem;
  }
  .subscription h4 {
    padding-right: 0rem;
    width: 12.5rem;
  }
  .subscription .rightContent {
    padding-right: 0rem;
    height: 8rem;
  }
  .subscription p {
    width: 15%;
    padding-left: 1.7rem;
    padding-right: 0.7rem;
  }
  .subscription .subscription__input {
    width: 35%;
  }
  .subscription .subscription__btn {
    width: 10%;
  }
  .row1,
  .row2 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 990px) {
  .header {
    display: flex;
    align-items: center;
    padding: 1rem 0;
  }
  .upper-header {
    display: none;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .header .searchBar,
  .header .btn,
  .loginDiv h5 {
    display: none;
  }
  .header .logo {
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 1.7rem;
  }
  .header .menu-icon {
    display: inline-block;
    margin-left: 2rem;
  }
  .discount .content {
    padding: 7% 15%;
  }
  .discount .content a {
    margin-top: 0.5rem;
  }
  .discount .content h2 {
    line-height: 50px;
    font-size: 40px;
    letter-spacing: 0.05rem;
  }
  .countdown {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .countdown .countdownTimer {
    margin-left: -1rem;
  }
  .countdown .countdownTimer h2 {
    line-height: 29px;
    font-size: 20px;
    letter-spacing: 0.1rem;
    margin-right: 2rem;
  }
  .bigCollection__title {
    margin-top: 6.8rem;
    margin-left: 0rem;
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .seeMore_btn {
    text-align: center;
    position: relative;
    top: 0rem;
    right: 0rem;
    margin-bottom: 1.5rem;
  }
  .bigCollection .orange_btn-2,
  .bestSellers .orange_btn-2 {
    width: 100%;
  }
  .upperFooter {
    grid-template-columns: repeat(2, 1fr);
  }
  .upperFooter .socialLinks,
  .upperFooter .categories {
    border-bottom: none;
  }

  .upperFooter .communication,
  .upperFooter .policy {
    border-top: none;
  }
  .footer {
    padding: 1.6rem 0.9rem;
    padding-bottom: 5rem;
  }
  .footer img {
    width: 15%;
    height: 70%;
  }
  /* darkLinks */
  .dark-links {
    display: none;
  }
  #sidebarMenu {
    display: flex;
    z-index: 999;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-300px);
    transition: transform 0.5s ease-in-out;
  }
  .sidebarMenuInner {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
  }
  .close-btn {
    display: flex;
    background-color: #695d4f;
    padding: 1rem 1.7rem;
    margin-bottom: 2rem;
  }
  .close-btn i {
    font-size: 1.3rem;
    padding-left: 0.8rem;
  }

  .close-btn .closeDiv {
    display: flex;
    align-items: center;
    font-family: "Cerebri-Sans-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    border: none;
    color: #fff;
    padding-left: 10rem;
  }
  .sidebarMenuInner li {
    padding-left: 1.5rem;
  }

  .sidebarMenuInner li a {
    display: flex;
    color: #000;
    width: 14rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-decoration: none;
    font-family: "Cerebri-Sans-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .sidebarMenuInner li:not(:last-child) {
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
  }

  input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;
    height: 100%;
    width: 100%;
    height: 22px;
    width: 22px;
  }

  /* darkLinks */

  /* Bottom Menu Start */

  .bottomMenu {
    background-color: #fff;
    display: flex;
    z-index: 98;
    flex-direction: row;
    width: 100%;
    padding: 0.8rem;
    border: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0px 1px 12px 2px rgb(144 144 144 / 30%);
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
  }
  .bottomMenu ul {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    margin-left: 25%;
  }
  .bottomMenu li {
    margin-right: 210%;
  }
  .bottomMenu li i {
    font-size: 20px;
  }
  .bottomMenu li i:hover {
    color: #444;
  }

  /* Bottom Menu Finish */
  .circles {
    grid-template-columns: repeat(2, 1fr);
  }
  .collections {
    grid-template-columns: repeat(2, 1fr);
  }
  .bigCollection {
    grid-template-columns: repeat(2, 1fr);
  }
  .bigCollection .countdownCard:last-child {
    display: none;
  }
  .row1,
  .row2 {
    grid-template-columns: repeat(4, 1fr);
  }
  .row1 .countdownCard:last-child,
  .row2 .countdownCard:last-child {
    display: none;
  }
  /* tekrar bak */
}
/* mobile = max(765px) */
@media (max-height: 600px) {
  #sidebarMenu {
    display: none;
  }
}
@media (max-width: 765px) {
  .header .heartIcon {
    display: none;
  }
  .header {
    display: flex;
    align-items: center;
    padding: 13px 0;
    padding-right: 0%;
  }
  .header .logo {
    width: 10rem;
    margin-right: 0rem;
    margin-left: 0rem;
  }
  .loginDiv {
    display: flex;
    align-items: center;
  }
  .loginDiv i {
    margin-right: 1.4rem;
    font-size: 1.25rem;
  }
  #sidebarMenu {
    display: block;
  }
  .slider {
    width: 100%;
    height: 100%;
  }
  .slider img {
    width: 100%;
    height: 100%;
    transform: scale(1);
  }
  .circles {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
    padding: 5.5rem 1rem;
    grid-gap: 2.5rem;
  }
  .circle img {
    max-width: 85%;
    padding: 1rem;
    height: auto;
    background-color: #fff;
    border-radius: 50%;
  }
  .collections {
    grid-template-columns: repeat(1, 1fr);
  }
  .mobileCollection {
    display: none;
    /* ilk child elementi dışında kalanlar */
  }
  .collections h3 {
    padding-top: 1rem;
    padding-bottom: 0rem;
  }
  .discount {
    grid-template-columns: 1fr;
  }
  .discount .content {
    padding: 5.5% 13%;
  }
  .countdown {
    grid-template-columns: 1fr;
    grid-gap: 1rem;
  }
  .countdown .countdownTimer {
    margin-left: 0.3rem;
    display: flex;
    flex-direction: column;
  }
  .countdown .countdownTimer h2 {
    line-height: 29px;
    font-size: 20px;
    letter-spacing: 0.1rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
  .countdown .countdownCard {
    margin-top: 3rem;
  }
}
@media (max-width: 560px) {
  #sidebarMenu {
    display: block;
  }
  .slider img {
    width: 100%;
    height: 100%;
    transform: scale(1);
  }

  .upper-header {
    display: none;
  }
  .circles {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0;
    padding: 6rem 0rem;
    grid-gap: 0rem;
  }
  .circle img {
    max-width: 70%;
    padding: 1rem;
    height: auto;
    background-color: #fff;
    border-radius: 50%;
  }
}
