@import url(../../css/init.css);

@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); /* Banner Start */

.banner {
  background-image: url("../livingRoomImg/banner.jpg");
  background-attachment: fixed;
  background-position: top center;
  padding-top: 55px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner__title,
.banner__subTitle {
  color: #fff;
}
.banner__title {
  font-family: "Cerebri-Sans-Medium";
  font-weight: 500;
  font-size: 45px;
  line-height: 54px;
  padding-bottom: 0.5rem;
}
.banner__subTitle {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
@media (max-width: 990px) {
  .banner__title {
    font-size: 25px;
    padding-bottom: 0rem;
  }
}
/* Banner Finish */

/* Coupon */

.couponSection {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
  display: flex;
  justify-content: flex-start;
  width: 100%;
  margin-top: 2rem;
  align-items: center;
}
.coupon {
  background-color: #f7f6f7;
  padding: 0.7rem;
  width: 100%;
  border-top: 3px solid #e0510b;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #515151;
}
.coupon i {
  font-size: 12px;
  color: #e0510b;
  transform: rotate(180deg);
  padding-top: 0.15rem;
  padding-right: 0.6rem;
  padding-left: 0.5rem;
}
.boldParag {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 700;
  color: black;
}
.boldParag:hover {
  color: #695d4f;
}
/* Coupon */

.mainContent {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2.5rem;
  padding: 1rem;
  max-width: 1440px;
  margin: 0 auto;
}

.mainContent__form {
  padding-top: 1rem;
  grid-column: 1 / 5;
  grid-row: 1 / -1;
}
.mainContent__formTitle {
  font-family: "Cerebri-Sans-Bold";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 1.5rem;
}
.billing {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  position: relative;
}

.arrowIcon {
  position: absolute;
  top: 2.7rem;
  left: 10rem;
  pointer-events: none;
  color: gray;
}

#personalInputs {
  display: block;
}
#businessInputs {
  display: none;
}

.anotherAddressBtn {
  background-color: #fff;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 0.1px solid #ccc;
}
.activeRadio {
  background-color: #695d4f;
}

.creditCardBtn {
  background-color: #fff;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 0.1px solid #ccc;
  margin-right: 0.5rem;
}
.creditCard__active {
  background-color: #695d4f;
}
.iyzicoSection {
  z-index: 1 !important;
  background-color: #f5f5f5;
  transition: all 0.5s;
  border-top: 1px solid rgba(230, 230, 230, 1);
}
.iyzicoBtn {
  background-color: #fff;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  border: 0.1px solid #ccc;
}
.iyzicoBtn__active {
  background-color: #695d4f;
}

#billing_selection {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  box-sizing: border-box;
  padding: 5px 6px;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
  width: 180px;
  margin-top: 1rem;
  border: 1px solid #ddd;
  cursor: pointer;
}
#billing_selection:focus {
  outline: none !important;
}
abbr {
  color: red;
  display: inline-block;
}
.paymentInput {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  margin-top: 1.8rem;
}
.paymentInput input {
  border: 1px solid #ddd;
  outline: none;
  box-shadow: none;
  width: 100%;
  border-width: 0 0 2px;
  border-color: #ddd;
  padding: 0;
  height: 40px;
  line-height: 40px;
  color: #000;
  margin-top: 1rem;
}
.countryPersonal {
  list-style: none;
  height: 30px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 1rem;
  padding-left: 0;
  padding-top: 0.4rem;
  border-bottom: 1px solid #ddd;
  border-width: 0 0 2px;
  z-index: 5;
  position: absolute;
  padding-bottom: 2rem;
  background-color: #fff;
}
#countryPaymentInput {
  position: relative;
  margin-bottom: 4rem;
}

#countryArrowIcon {
  position: absolute;
  top: 1.7rem;
  right: 0.35rem;
  z-index: 8;
}

.openCountryPersonal {
  height: 15rem;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-top: 1.5rem;
  border: 1px solid #ddd;
  border-top: none;
  border-radius: 0.5rem;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  padding-left: 0.5rem;
}

.countryPersonal li {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #444;
  padding: 0.5rem;
  padding-left: 0;
}

.countryPersonal li:hover {
  background-color: #0073aa;
  color: #fff;
}
#firstListItem:hover {
  color: #444;
  background-color: #fff;
}

.paymentInput input::placeholder,
#notesTextArea::placeholder {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
}
.anotherAddress {
  margin-top: 2rem;
  margin-bottom: 2rem;
  display: flex;
}

.anotherAddress__parag {
  font-family: "Cerebri-Sans-Bold";
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 0.5rem;
}
.notes {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.notes p {
  margin-bottom: 1.5rem;
}
#notesTextArea {
  overflow: hidden;
  outline: none;
  border: 1px solid #ddd;
  width: 100%;
  border-width: 0 0 2px;
  border-color: #ddd;
  padding: 0;
  height: 40px;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 40px;
  color: #000;
  padding-bottom: 4rem;
}

/* payment */

.mainContent__payment {
  padding-top: 1rem;
  grid-column: 5 / -1;
  grid-row: 1 / -1;
}
.tableSpace {
  width: 100%;
  background-color: #ffffff;
}

.productCard__info {
  width: 100%;
  background-color: #f5f5f5;
  padding: 2.5rem;
}
.infoCardTable {
  padding: 0rem;
  width: 100%;
  text-align: left;
  display: table;
  border-collapse: collapse;
}
.productInfo {
  width: 100%;
}
tr .productHeadName,
tr .productTotal {
  padding: 1rem;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.5);
}
tr .productPrice,
tr .productName {
  vertical-align: top !important;
  padding: 1rem;
  padding-bottom: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  border-bottom: 1px solid rgba(230, 230, 230, 0.5);
}
tr .productKind {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #444;
}
tr .productName {
  font-weight: 400;
  color: #444444;
}
tr .productPrice {
  font-weight: 500;
  color: #000;
  width: 60%;
}
#discountText {
  font-weight: 700;
}
#addressText {
  font-weight: 400;
}
.bottomProductInfo {
  font-weight: 400 !important;
  color: #a3a3a3 !important;
  display: block !important;
}
.bottomProductInfo-shipping {
  font-weight: 400 !important;
  color: #a3a3a3 !important;
  display: block !important;
  border-bottom: none !important;
}

.totalPriceInfo {
  color: #fff !important;
  background-color: #e0510b;
}
#totalPrice {
  color: #fff !important;
  background-color: #e0510b;
  font-weight: 500;
  font-size: 24px;
  line-height: 38px;
  color: #fff;
}
.paymentOptions {
  display: flex;
  align-items: center !important;
  justify-content: flex-start;
  padding: 1rem;
  background-color: #f5f5f5;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  flex-wrap: wrap;
}
.paymentOptions input {
  margin-bottom: 0.1rem !important;
  margin-right: 0.5rem;
}

.paymentOptions img {
  width: 50%;
  margin-left: 1rem;
}
.paymentOptions .securityParag {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #838889;
  margin-top: 1rem;
  padding-bottom: 1.5rem;
  width: 100%;
}
.otherOption {
  display: flex;
  align-items: center !important;
  justify-content: flex-start !important;
  padding-top: 1rem;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
}
.otherOption img {
  width: 17%;
  margin-right: 1.5rem;
}
.otherExplain {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #838889;
  margin-top: 2rem;
}
.paymentBtn {
  color: #fff !important;
  background-color: #e0510b;
  width: 100%;
  text-align: center;
  margin-top: 3.5rem;
  font-family: "Cerebri-Sans-Bold";
  font-weight: 700;
  font-size: 13px;
  line-height: 50px;
}
.paymentBtn:hover {
  background-color: #695d4f;
}

@media (max-width: 1170px) {
  .mainContent__form {
    grid-column: 1 / -1;
    grid-row: 1 / 1;
  }
  .mainContent__payment {
    grid-column: 1 / -1;
    grid-row: 2 / -1;
  }
  .paymentOptions img {
    width: 30%;
  }
  .paymentOptions input {
    margin-bottom: 0.3rem !important;
    margin-right: 0.5rem;
  }
  .otherOption img {
    width: 15%;
  }
}
