@font-face {
  font-family: "Cerebri-Sans-Regular";
  src: url("../Cerebri.Sans.Pro/CerebriSansPro-Regular.otf") format("opentype");
}
@font-face {
  font-family: "Cerebri-Sans-Medium";
  src: url("../Cerebri.Sans.Pro/CerebriSansPro-Medium.otf") format("opentype");
}
@font-face {
  font-family: "Cerebri-Sans-Bold";
  src: url("../Cerebri.Sans.Pro/CerebriSansPro-Bold.otf") format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");
@font-face {
  font-family: "Cerebri-Sans-ExtraBold";
  src: url("../Cerebri.Sans.Pro/CerebriSansPro-ExtraBold.otf")
    format("opentype");
}
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-size: 15px;
  color: #000;
  background: #fff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.5;
  overflow-x: hidden;
}

/* Upper Header */

.wrapper {
  display: grid;
}

@media (max-width: 600px) {
  .header,
  .slider img,
  .circles,
  .collections,
  .discount,
  .countdown,
  .bigCollection,
  .subscription,
  .footerSlider,
  .payment,
  .upperFooter,
  .footer {
    width: 100%;
  }
}
.upper-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 1rem;
  align-items: center;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
}
.main-menu,
.follow-menu {
  list-style: none;
  display: flex;
}
.main-menu li a,
.follow-menu li a {
  text-decoration: none;
  color: #000;
  font-weight: 400;
  font-style: normal;
  line-height: 35px;
}
.main-menu li a {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
  padding-right: 1.5rem;
  margin-right: 1.5rem;
}
.main-menu li:nth-child(4) a {
  border-right: none;
}
.follow-menu {
  display: flex;
  align-items: center;
}
.follow-menu li a {
  padding-right: 15px;
  margin-right: 15px;
  display: flex;
  align-items: center;
}
.follow-menu li a i {
  font-size: 12px;
}

.follow-menu li:first-child i {
  font-size: 1.1rem;
  margin-right: 0.5rem;
}
.follow-menu li:nth-child(2) i {
  margin-left: 1.5rem;
}
.follow-menu li:first-child {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}
@media (min-width: 1440px) {
  .upper-header {
    justify-content: space-around;
    max-width: 100%;
    margin: 0 auto;
  }
  .follow-menu li:last-child a {
    padding-right: 0 !important;
    margin-right: 0 !important;
  }
  .main-menu {
    margin-right: 30rem !important;
  }
}
@media (max-width: 990px) {
  .upper-header {
    display: none;
  }
}
@media (max-width: 600px) {
}
/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 13px 0;
}
.header .menu-icon {
  display: none;
}
.header .logo {
  width: 10rem;
  margin-right: 5rem;
  margin-left: 1rem;
}
.searchBar {
  width: 58%;
  height: 40px;
  padding: 10px 15px;
  border: solid 1px rgba(0, 0, 0, 0.12);
  border-radius: 3px;
}
.searchBar::placeholder {
  color: #a5a5a5;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  line-height: 20px;
  font-size: 14px;
}
.btn {
  background-color: #333;
  height: 40px;
  width: 4%;
  color: #fff;
  border: none;
  margin-right: 2.7rem;
}
.loginDiv {
  display: flex;
  position: relative;
  align-items: center;
}
.loginDiv h5 {
  font-family: "Cerebri-Sans-Medium";
  width: 6rem;
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-right: 2.2rem;
  font-weight: 400;
}
.loginDiv h5 i {
  font-size: 1.4rem;
  margin-right: 0.3rem;
  padding-bottom: 0.1rem;
}
.loginDiv i {
  margin-right: 1.4rem;
  font-size: 1.5rem;
}
.bagIcon {
  margin-right: 1.4rem;
  width: 1.5rem;
}
.loginDiv h5:hover,
.loginDiv i:hover {
  color: #80766a;
  cursor: pointer;
}
.badge {
  position: absolute;
  background-color: #695d4f;
  color: #fff;
  font-size: 0.6rem;
  padding: 0.1rem 0.6rem;
  border-radius: 5rem;
}
.badge-heart {
  top: -0.4rem;
  right: 3.1rem;
}
.badge-bag {
  top: -0.4rem;
  right: 0.6rem;
}

@media (min-width: 1440px) {
  .searchBar {
    width: 50rem;
  }
}
@media (max-width: 990px) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 99;
    background-color: #fff;
  }
  .header .searchBar,
  .header .btn,
  .loginDiv h5 {
    display: none;
  }

  .header .logo {
    justify-content: center;
    margin: 0;
    padding: 0;
    margin-left: 1.7rem;
  }
  .header .menu-icon {
    display: inline-block;
    margin-left: 2rem;
  }
  .header .heartIcon,
  .badge-heart {
    display: none;
  }
}
@media (max-width: 600px) {
  .header .heartIcon,
  .badge-heart {
    display: none;
  }

  .header {
    padding: 1.7rem 0rem;
  }
}
/* Dark Links */

.dark-links {
  display: grid;
  background-color: #2f2828;
  font-weight: 500;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  font-family: "Cerebri-Sans-Medium";
  position: sticky;
  top: 0;
  left: 0;
  z-index: 99;
}

.dark-links-mobile {
  display: none;
}

.dark-links .dark-menu {
  display: flex;
  list-style: none;
  padding: 20px 0;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}
.dark-links .dark-menu .close-btn {
  display: none;
}
.dark-links .dark-menu li a {
  display: flex;
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
  margin-right: 1.5rem;
}
.dark-links .dark-menu li a:last-child {
  margin-right: 0;
}

.dark-links .dark-menu li a:hover {
  color: #de510b;
}
@media (min-width: 1440px) {
  .dark-links .dark-menu {
    max-width: 150%;
    margin: 0 auto;
    max-width: 1440px;
    margin: 0 auto;
  }
  .dark-links .dark-menu li a {
    margin-right: 2.8rem !important;
  }
  #lastMenuItem {
    margin-right: 0 !important;
  }
}

/* Banner Start */

.banner {
  background-image: url("./livingRoomImg/banner.jpg");
  background-attachment: fixed;
  background-position: top center;
  padding-top: 55px;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.banner__title,
.banner__subTitle {
  color: #fff;
}
.banner__title {
  font-family: "Cerebri-Sans-Medium";
  font-weight: 500;
  font-size: 45px;
  line-height: 54px;
  padding-bottom: 0.5rem;
}
.banner__subTitle {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
}
@media (max-width: 990px) {
  .banner__title {
    font-size: 25px;
    padding-bottom: 0rem;
  }
}
/* Banner Finish */

/* Main Content Start */
/*
.mainContent {
}
*/
.mainContent__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2.5rem;
}

.mainContent__filter {
  padding-top: 2.5rem;
  grid-column: 1 / 2;
}

.mainContent__products {
  padding-top: 2.5rem;
  grid-column: 2 / -1;
  padding-left: 1rem;
  padding-right: 1rem;
}

.mainContent__categoryBtn {
  background-color: rgba(0, 0, 0, 0.05);
  display: inline-block;
  padding: 0.25em 1em;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  border-radius: 5px;
}
.mainContent__iconBtns {
  padding-top: 1rem;
  padding-left: 1rem;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
#firstLink {
  padding-bottom: 0.7rem;
}
/* Range Start */
input {
  box-shadow: 0;
  outline: 0;
}
.range-slider {
  width: 100%;
  margin: auto;
  text-align: center;
  position: relative;
  height: 1.5em;
}
.range-slider svg,
.range-slider input[type="range"] {
  position: absolute;
  left: 0;
  bottom: 0;
}
.range-slider svg {
  padding-left: 0.6rem;
  color: rgb(136, 136, 136);
}
input[type="number"] {
  border: 1px solid #ddd;
  text-align: center;
  font-size: 1.6em;
  -moz-appearance: textfield;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

svg {
  width: 80%;
  position: absolute;
  top: 2.5rem !important;
  transform: scaleX(1.25);
  left: 3rem !important;
  padding-left: 0rem !important;
}

#leftPrice {
  position: absolute;
  transform-origin: center center;
  top: -1rem;
  left: -0rem;
  background-color: #e0510b;
  color: #fff;
  padding: 1px 5px;
  font-size: 10px;
  z-index: 15;
  border-radius: 3px;
  width: 2.5rem;
}
#leftPrice-gray {
  position: absolute;
  z-index: -5;
  transform-origin: center center;
  top: -1rem;
  left: -0rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: #999;
  padding: 1px 5px;
  font-size: 10px;
  border-radius: 3px;
  width: 2.5rem;
}

#rightPrice {
  position: absolute;
  transform-origin: center center;
  top: -1rem;
  right: 0rem; /*88% !important; */
  background-color: #e0510b;
  color: #fff;
  padding: 1px 5px;
  font-size: 10px;
  z-index: 15;
  width: 2.5rem;
}

#rightPrice_gray {
  position: absolute;
  transform-origin: center center;
  top: -1rem;
  right: 0rem; /*88% !important; */
  background-color: rgba(0, 0, 0, 0.1);
  color: #999;
  padding: 1px 5px;
  font-size: 10px;
  z-index: -5;
  width: 2.5rem;
}
#leftPrice input,
#rightPrice input {
  background-color: #e0510b;
  color: #fff;
  border: none;
  font-size: 10px;
  max-width: 1.7rem;
}
input[type="number"]:invalid,
input[type="number"]:out-of-range {
  border: 2px solid #ff6347;
}
input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}
input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #e0510b;
}
input[type="range"]:focus::-ms-fill-lower {
  background: #e0510b;
}
input[type="range"]:focus::-ms-fill-upper {
  background: #e0510b;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #e0510b;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-webkit-slider-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 1px 1px 3px #ccc;
  border: 1.5px solid #ccc;
  height: 21px;
  width: 21px;
  border-radius: 25px;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7px;
}
input[type="range"]::-moz-range-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-moz-range-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}
input[type="range"]::-ms-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type="range"]::-ms-fill-lower,
input[type="range"]::-ms-fill-upper {
  background: #2497e3;
  border-radius: 1px;
  box-shadow: none;
  border: 0;
}
input[type="range"]::-ms-thumb {
  z-index: 2;
  position: relative;
  box-shadow: 0px 0px 0px #000;
  border: 1px solid #2497e3;
  height: 18px;
  width: 18px;
  border-radius: 25px;
  background: #a1d0ff;
  cursor: pointer;
}

/* Range Finish */

@media (min-width: 1440px) {
  .mainContent__content {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 990px) {
  .mainContent__filter {
    display: none;
  }
  .mainContent__products {
    grid-column: 1 / -1;
    padding: 1rem;
    padding-top: 3rem;
  }
}

/* Main Content Finish */

/* Pricing Start */
.pricing,
.ordering,
.categories {
  padding-left: 1rem;
  padding-top: 1.5rem;
  position: relative;
}
.pricing__title,
.ordering__title,
.categories__title {
  font-family: "Cerebri-Sans-ExtraBold";
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
  padding-bottom: 0.5rem;
}
.pricing__title {
  margin-bottom: 2rem;
}

.ordering__title,
.categories__title {
  margin-bottom: 2rem;
  margin-top: 2rem;
}
#pricing__range {
  width: 100%;
  margin-bottom: 1rem;
}
.ordering__list,
.categories__list {
  list-style: none;
}
.categories__listItem * {
  padding-left: 1rem;
}
.subListItem-text {
  padding-left: 1rem;
}
.ordering__listItem p {
  padding-left: 1rem;
}
#radio__ordering {
  margin-right: 0.5rem;
  margin-bottom: 0.2rem;
  -webkit-appearance: none;
  appearance: none;
  font: inherit;
  color: #cdcdcd;
  width: 0.7rem;
  height: 0.7rem;
  border: 0.1px solid currentColor;
  border-radius: 50%;
  display: grid;
  padding-left: 0rem;
  position: absolute;
  margin-top: 0.15rem;
  place-content: center;
}
#radio__ordering:focus {
  border: 0.1px solid #de510b;
}

#radio__ordering::before {
  content: "";
  width: 0.3rem;
  height: 0.3rem;
  border-radius: 50%;
  transform: scale(0);
  border: 1px solid #de510b;
}
#radio__ordering:checked::before {
  transform: scale(1.1);
  color: #de510b;
}

.ordering__listItem,
.categories__listItem,
.categories__listItem-sublistItem {
  display: block;
  padding-bottom: 0.5rem;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #444444;
  display: flex;
  align-items: center;
  max-height: 100%;
}
.categories__listItem-plus {
  display: block;
  padding-bottom: 0.5rem;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  height: 32px;
  color: #444444;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.categories__listItem-plus .spanText {
  padding-left: 1rem;
}
.categories__listItem-plus #radio__ordering {
  margin-top: 0.3rem;
}
.categories__plusBtn {
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  cursor: pointer;
}
#plusBtn,
#minusBtn {
  display: inline-block;
  position: relative;
  top: 0;
  right: 0;
  font-size: 0.7rem;
  opacity: 0.3;
  cursor: pointer;
}
.categories__listItem-sublist {
  list-style: none;
  display: none;
}
.showSubList {
  display: block;
}
.categories__listItem-sublistItem {
  padding-left: 1rem;
}

/* Pricing Finish */

/* MAIN CONTENT PRODUCTS START */

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.showBox__list,
.orderBox__list {
  display: flex;
  list-style: none;
  background: #fff;
  color: #000;
  font-weight: 500;
  font-size: 14px;
  line-height: 33px;
  border: 1px solid #e1e1e1;
  padding-right: 20px;
  padding-left: 20px;
  text-transform: capitalize;
  cursor: pointer;
}
.showBox__listItem {
  margin-right: 1rem;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 500;
  font-size: 14px;
  line-height: 33px;
  color: #a3a3a3;
}
.showBox__listItem:last-child {
  margin-right: 0rem;
}
#showText {
  font-family: "Cerebri-Sans-Bold";
  font-weight: 500;
  font-size: 12px;
  line-height: 33px;
  color: #000;
}
.showBox__activeItem {
  color: #695d4f;
}
.orderBox {
  display: flex;
  margin-right: -0.65rem;
}
.row1 {
  display: flex;
  margin-right: 0.5rem;
}
.row1:last-child {
  margin-right: 0rem;
}
.box1 i,
.rectangle1 i {
  display: inline-block;
  font-size: 0.45rem;
  margin-right: 0.05rem;
  margin-bottom: 0.05rem;
}
.box1:hover,
.rectangle1:hover {
  color: #695d4f;
}
.rectangle1 .getTogether {
  margin-right: -0.06rem;
}

.rectangle1 .getTogether-2 {
  margin-left: -0.3rem;
}
@media (max-width: 990px) {
  .selection__boxes {
    display: none;
  }
}

/* BIG COL START */
.bigCollection,
.bigCollection-rectangle {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
  padding-left: 0;
  padding-right: 0;
  padding-top: 3rem;
  grid-gap: 2rem;
}
.bigCollection-rectangle {
  grid-template-columns: 1fr;
}
.bigCollection img,
.bigCollection-rectangle img {
  max-width: 100%;
  height: auto;
  background-color: #fff;
}

.ImgSpan {
  position: relative;
  width: 50%;
  max-height: 100%;
  margin-right: 2rem;
}
.bigCollection-rectangle img {
  max-width: 100%;
}
.ImgOverlay {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #695d4f;
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 0.5s;
}
.searchIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  padding: 0.8rem;
  font-size: 1.3rem;
  background: #fff;
  transition: transform 0.5s !important;
}

.searchIcon:hover {
  background: #695d4f;
  color: #fff;
}

.bigCollection .countdownCard,
.bigCollection-rectangle .countdownCard-rectangle {
  justify-content: center;
  align-items: center;
  position: relative;
}
.bigCollection-rectangle .countdownCard-rectangle {
  display: flex;
  justify-content: flex-start !important;
  align-items: flex-start !important;
}

.countdownCard-rectangle:hover > .ImgSpan .ImgOverlay {
  opacity: 0.5 !important;
}

.countdownCard-rectangle:hover > .ImgSpan .searchIcon {
  transform: translate(-50%, -50%) scale(1);
}

.countdownCard-rectangle .bigCollection-rightColumn {
  display: flex;
  flex-direction: column;
}

.bigCollection .countdownCard h3,
.bigCollection-rectangle .countdownCard-rectangle h3 {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  padding-top: 0.8rem;
}

.bigCollection-rectangle .countdownCard-rectangle h3 {
  font-family: "Cerebri-Sans-Medium";
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  padding-top: 0rem;
  padding-bottom: 0.5rem;
}

.bigCollection .countdownCard .previousPrice,
.bigCollection .countdownCard .discountedPrice,
.bigCollection-rectangle .countdownCard-rectangle .previousPrice,
.bigCollection-rectangle .countdownCard-rectangle .discountedPrice {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.bigCollection .countdownCard .previousPrice,
.bigCollection-rectangle .countdownCard-rectangle .previousPrice {
  font-size: 13px;
  line-height: 13px;
  color: #a3a3a3;
  text-decoration: line-through;
}

.bigCollection-rectangle .countdownCard-rectangle .previousPrice {
  font-size: 15px;
  line-height: 24px;
}

.bigCollection .countdownCard .discountedPrice,
.bigCollection-rectangle .countdownCard-rectangle .discountedPrice {
  color: #e0510b;
  font-size: 17px;
  line-height: 17px;
}

.bigCollection-rectangle .countdownCard-rectangle .discountedPrice {
  font-size: 18px;
  line-height: 24px;
}

.bigCollection .orange_btn-2,
.bigCollection-rectangle .orange_btn-2 {
  text-decoration: none;
  color: #fff;
  border: 1px solid transparent;
  display: inline-block;
  width: 96%;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  background-color: #e0510b;
  font-family: "Cerebri-Sans-Bold";
  font-weight: 400;
  font-style: normal;
  line-height: 19px;
  font-size: 12px;
  padding: 7px 10px;
  margin-top: 10px;
  margin-bottom: 40px;
}

.bigCollection-rectangle .countdownCard-rectangle .orange_btn-2 {
  height: 42px;
  width: 9.5rem !important;
  background: #695d4f;
  line-height: 42px;
  margin: 0;
  padding: 0px 30px;
  -webkit-box-shadow: 1px 2px 12px 0px rgb(144 144 144 / 75%);
  box-shadow: 1px 2px 12px 0px rgb(144 144 144 / 75%);
  font-weight: 700;
  font-size: 13px;
  letter-spacing: 1px;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.bigCollection .orange_btn-2 {
  width: 100%;
}

.bigCollection .orange_btn-2:hover,
.bigCollection-rectangle .orange_btn-2:hover {
  background-color: #2f2828;
}
.bigCollection-rectangle .orange_btn-2:hover {
  background-color: #544b4b;
}

.bigCollection .countdownCard .fav-icon,
.bigCollection-rectangle .fav-icon {
  position: absolute;
  top: 5.6rem;
  right: 1.6rem;
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 50%;
}
.bottomParag {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  padding-top: 4.5rem;
  color: #444444;
  padding-top: 35px;
  border-top: 1px solid #e5e5e5;
}

.bigCollection-rectangle .fav-icon {
  position: unset;
  display: inline-block;
  width: 42px;
  height: 42px;
  border-radius: 0;
  margin-top: 2rem;
  margin-left: 1rem;
  -webkit-box-shadow: 1px 2px 12px 0px rgb(144 144 144 / 75%);
  box-shadow: 1px 2px 12px 0px rgb(144 144 144 / 75%);
}
.basketColumn {
  display: flex;
}
.bigCollection .countdownCard .fav-icon:hover,
.bigCollection-rectangle .fav-icon:hover {
  color: #92897f;
}
.bigCollection .countdownCard .fav-icon,
.bigCollection-rectangle .fav-icon {
  top: 0.5rem;
  right: 0.5rem;
}

@media (max-width: 990px) {
  .bigCollection {
    grid-template-columns: repeat(2, 1fr) !important;
  }
}
@media (max-width: 600px) {
  .bigCollection {
    grid-template-columns: 1fr !important;
  }
  .bigCollection-rectangle .countdownCard-rectangle {
    flex-direction: column;
  }
  .bigCollection-rectangle img {
    max-width: 100%;
  }
  .bigCollection-rectangle .countdownCard-rectangle h3 {
    padding-top: 2rem;
  }
}

/* BIG COL ENDS */

/* PAGINATION START */

.pagination__content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagination__list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}
.pagination__listItem {
  padding: 1rem;
  padding-bottom: 12px;
  line-height: normal;
  text-indent: 1px;
  color: #a3a3a3;
  font-size: 15px;
  border: 1px solid #ddd;
  margin-right: 0.8rem;
  font-family: "Cerebri-Sans-Regular";
  cursor: pointer;
}
.pagination__listItem:hover,
.pagination__activeItem {
  background-color: #695d4f;
  color: #fff;
  border-color: #695d4f;
}
/* PAGINATION END */

/* MAIN CONTENT PRODUCTS FINISH */

/* FOOTER START */
/* Payment */
.paymentSection {
  background-color: #f8f8f8;
  margin-top: 4.5rem;
  border: 1px solid rgba(204, 204, 204, 0.5);
}
.payment {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 0.2rem;
  background-color: #f8f8f8;
}
.payment .creditCard,
.payment .security {
  display: flex;
  align-items: center;
}
.payment .creditCard i,
.payment .security i {
  font-size: 3.1rem;
  color: #695d4f;
  padding: 1rem 0.5rem;
  padding-top: 0rem;
}
.payment .security i {
  padding-right: 2rem;
}
.payment .security .lockIcon {
  padding-right: 1rem;
}
.payment .creditContent {
  padding: 1rem 0.5rem;
}
.payment .creditCard h3,
.payment .security h3 {
  font-family: "Cerebri-Sans-Medium";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 0.5rem;
}
.payment .creditCard p,
.payment .security p {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #a3a3a3;
}
@media (min-width: 1440px) {
  .payment {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 600px) {
  .payment {
    grid-template-columns: 1fr !important;
  }
  .payment .creditCard,
  .payment .security {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
/* UpperFooter */
.upperFooterSection {
  background-color: #f8f8f8;
}
.upperFooter .categories ul:first-child,
.upperFooter .communication ul:first-child,
.upperFooter .policy ul:first-child {
  position: relative;
}
.upperFooter .categories .borderLeft,
.upperFooter .communication .borderLeft,
.upperFooter .policy .borderLeft {
  width: 18%;
  display: inline-block;
  position: absolute;
  top: 1.2rem;
  left: 0;
  border-bottom: 1px solid #000;
}
.upperFooter {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: #f8f8f8;
}
.upperFooter i {
  font-size: 0.8rem;
  background-color: #f1f1f1;
  padding: 0.8rem;
  border-radius: 50%;
  text-align: start;
  margin-bottom: 1.5rem;
}
.upperFooter i:hover {
  background-color: #695d4f;
  color: #fff;
}
.upperFooter .socialLinks,
.upperFooter .categories,
.upperFooter .communication,
.upperFooter .policy {
  border: 1px solid rgba(204, 204, 204, 0.5);
  border-bottom: none;
}
.upperFooter .socialLinks,
.upperFooter .categories,
.upperFooter .communication,
.upperFooter .policy {
  border-right: none;
  border-top: none;
}
.upperFooter .categories,
.upperFooter .communication,
.upperFooter .policy {
  padding: 2.5rem 2rem;
}
.upperFooter .categories li,
.upperFooter .communication li,
.upperFooter .policy li {
  padding-bottom: 0.3rem;
}
.upperFooter .socialLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2rem 1rem;
}

.upperFooter .socialLinks p {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #a3a3a3;
  margin-bottom: 1.5rem;
}
.upperFooter .socialLinks ul {
  display: flex;
  margin-top: 1rem;
}
.upperFooter .socialLinks ul li {
  margin-right: 0.8rem;
}
.upperFooter .socialLinks ul li:last-child {
  margin-right: 0;
}
.upperFooter ul {
  list-style: none;
}
.upperFooter ul h4 {
  font-family: "Cerebri-Sans-Bold";
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  line-height: 12px;
  /*border-bottom: 1px solid #000;*/
  padding-bottom: 0.5rem;
  margin-bottom: 1.5rem;
}
.upperFooter ul a {
  text-decoration: none;
  color: #695d4f;
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
}
.upperFooter img {
  width: 9.4rem;
  margin-bottom: 1.5rem;
}
@media (min-width: 1440px) {
  .upperFooter {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
  .upperFooter .socialLinks {
    border-left: none;
  }
}
@media (max-width: 990px) {
  .upperFooter {
    grid-template-columns: repeat(2, 1fr);
  }
  .upperFooter .socialLinks,
  .upperFooter .categories {
    border-bottom: none;
  }

  .upperFooter .communication,
  .upperFooter .policy {
    border-top: none;
  }
}
@media (max-width: 600px) {
  .upperFooter {
    grid-template-columns: 1fr !important;
  }
}
/* Footer */
.footerSection {
  background-color: #f8f8f8;
  border: 1px solid rgba(204, 204, 204, 0.5);
}
.footer {
  background-color: #f8f8f8;
  display: flex;
  padding: 1.6rem 0.9rem;
  justify-content: space-between;
}
.footer img {
  width: 15%;
  height: auto;
}
.footer p {
  font-family: "Cerebri-Sans-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 24px;
  color: #a3a3a3;
}
@media (min-width: 1440px) {
  .footer {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 1440px) {
  .footer {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 990px) {
  .footer {
    padding: 1.6rem 0.9rem;
    padding-bottom: 5rem;
  }
  .footer img {
    width: 15%;
    height: 70%;
  }
}
@media (max-width: 600px) {
  .footer {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer img {
    width: 30%;
    height: 70%;
    padding-bottom: 1rem;
  }
  .footer p {
    font-size: 1rem;
  }
}
/* FOOTER END */

/* Menu */

#sidebarMenu,
#openSidebarMenu {
  display: none;
}
.bottomMenu {
  display: none;
}

/* Menu */

/* SideBar Menu */

@media (max-width: 990px) {
  .dark-links {
    display: none;
  }
  #sidebarMenu {
    display: flex;
    z-index: 999;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transform: translateX(-300px);
    transition: transform 0.5s ease-in-out;
  }
  .sidebarMenuInner {
    list-style: none;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    height: 100%;
  }
  .close-btn {
    display: flex;
    background-color: #695d4f;
    padding: 1rem 1.7rem;
    margin-bottom: 2rem;
  }
  .close-btn i {
    font-size: 1.3rem;
    padding-left: 0.8rem;
  }

  .close-btn .closeDiv {
    display: flex;
    align-items: center;
    font-family: "Cerebri-Sans-Regular";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    border: none;
    color: #fff;
    padding-left: 10rem;
  }
  .sidebarMenuInner li {
    padding-left: 1.5rem;
  }

  .sidebarMenuInner li a {
    display: flex;
    color: #000;
    width: 14rem;
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    text-decoration: none;
    font-family: "Cerebri-Sans-Regular";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
  }
  .sidebarMenuInner li:not(:last-child) {
    border-bottom: 1px solid rgba(204, 204, 204, 0.5);
  }
  input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
  }

  input[type="checkbox"] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
  }
  .sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 99;
    height: 100%;
    width: 100%;
    height: 22px;
    width: 22px;
  }

  /* SideBar Menu */

  /* Bottom Menu Start */

  .bottomMenu {
    background-color: #fff;
    display: flex;
    z-index: 98;
    flex-direction: row;
    width: 100%;
    padding: 0.8rem;
    border: 1px solid rgba(204, 204, 204, 0.5);
    box-shadow: 0px 1px 12px 2px rgb(144 144 144 / 30%);
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
  }
  .bottomMenu ul {
    display: flex;
    list-style: none;
    width: 100%;
  }
  .bottomMenu li {
    margin: 0 auto;
    cursor: pointer;
  }
  .bottomMenu li i {
    font-size: 20px;
  }

  .bottomMenu li i:hover,
  #bottomMenu__filterBtn:hover {
    color: #444;
  }
  #bottomMenu__filterBtn {
    font-family: "Cerebri-Sans-Regular";
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }

  /* Bottom Menu Finish */
}
/* mobile = max(765px) */
@media (max-height: 600px) {
  #sidebarMenu {
    display: none;
  }
}
@media (max-width: 600px) {
  #sidebarMenu {
    display: block;
  }
}
